<div class="row">
  <div class="col-sm-6">
    <h1><%= I18n.translate('user.text') %></h1>
  </div>
  <div class="col-sm-6">
    <h1>
      <%= I18n.translate('post.text') %>
      <%= link_to I18n.translate('post.submit.text'), new_post_path, class: 'btn btn-primary btn-xs' %>
    </h1>
    <%= render partial: 'admin/last_posts', locals: { user: current_user } %>
  </div>
</div>