<div class="row">
  <div class="col-sm-6">
    <h1><%= I18n.translate('user.text') %></h1>
  </div>
  <div class="col-sm-6 admin-section">
    <header>
      <h1>
        <%= I18n.translate('post.text') %>
      </h1>
      <%= link_to I18n.translate('post.submit.text'), new_post_path,
                  class: 'btn btn-primary btn-xs pull-right add-post' %>
    </header>
    <%= render partial: 'admin/last_posts', locals: { user: current_user } %>
  </div>
</div>