/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.search {
  margin-right: 33%;
  float: right;
  padding-bottom: 0px;
}

.search-txt-bx {
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  height: 34px;
  margin-top: 1px;
  color: #FFF;
  background-color: #3276B1;
  border-color: #285E8E;
  border-radius: 5px;
  border: 1px solid transparent;
}